{%  extends "base.html" %}
{% block title %}We Love Whiskey{% endblock %}

{% block content %}
<!--<h1>WE LOVE WHISKEY</h1>
<div class="row">
    <div class="column">
      <img src="/Users/camillehaile/Documents/coding-temple-self-paced/Assignment Material/whiskey_app/website/static/images/stock-photo-bartender-serve-whiskey-on-wood-bar-1907520403.jpg">
    </div>
    <div class="column">
      <img src="underwater.jpg">
    </div>
    <div class="column">
      <img src="wedding.jpg">
    </div>
</div>-->
<section class="layout bg-dark text-light text-center shadow">
    <div class="container p-5 bg-dark">
        <div class="row">
            <div class="d-md-flex bg-dark align-items-center justify-content-evenly">
                <h1 class="wh">The Whiskey House</h1>
            </div>
        </div>
    </div>
</section>
<section class="bg-light text-center">
    <div class="container p-5">
        <div class="row">
            <div class="d-flex align-items-center justify-content-center">
                <img src="../../static/images/whiskey4.jpg" class="img-fluid p-5" alt="">
            </div>
        </div>
    </div>
</section>
{% endblock %}